.agregarCurso{
    
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

/*
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 1s all;
}

button:hover{
    border-radius: 0px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

*/



main{
    display: flex;
    
}

.listaCurso{
    
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
    -webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-right: 2rem;
}

.cajaCurso{
    margin: 10px;
    padding: 1rem;
}

.nombreCurso{
    background: linear-gradient(123deg, #FFFCAC 0%, #FFFFFF 67%), linear-gradient(180deg, #D8D8D8 0%, #6B0000 100%), linear-gradient(142deg, #F9F5F0 0%, #F9F5F0 33%, #F2EAD3 calc(33% + 1px), #F2EAD3 56%, #F4991A calc(56% + 1px), #F4991A 62%, #321313 calc(62% + 1px), #321313 100%);
    background-blend-mode: multiply, overlay, normal;
    
    padding: 1rem;
    font-size: x-large;
}

h5{
    font-family: var(--estiloUno);
    font-size: large;
    margin-right: 1rem;
}

.descripcionCurso{
    display: flex;
    align-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.agregaTarea{
    margin: 1rem;
}