<div class="slider">
  <ul>
    <li> <img src="../assets/img/1.jpg"> </li>
    <li> <img src="../assets/img/2.jpg"> </li>
    <li> <img src="../assets/img/3.jpg"> </li>
    <li> <img src="../assets/img/4.jpg"> </li>
    <li> <img src="../assets/img/5.jpg"> </li>

  </ul>
  <div class="titulo"> <h1>Alpujarra restaurante y café</h1> </div>
  
</div>


<div class="cuerpo">

  <main>
    <div class="horarios">
      <h3>Horarios</h3>
    </div>
  
    <div class="horas">
      <p> Abierto desde las 8:00 am - 20:00pm</p>
      <p>Atendiento todos lo dias de la semana, incluido los feriados y asuetos</p> 
    </div>
  
  </main>
  
  
  <main>
    <div class="contactos">
      <h3 class=> Contactos </h3>
    </div>
    
    <div class="telefonos">
      <p>(123) 1232-1232</p>
      <p>algunCorreo@info.com</p>
      <p>Uvicados salida de Quetzaltenango a Zunil Kilometro 265</p>
    </div>
  </main>

</div>


<div class="servicios">

  <h2>Nuestros Servicios</h2>
  <div class="nuestrosServicios">
  
    <div class="tarjeta">
      <img class="serviciosImagen mesa" src="../assets/img/1.webp" alt="">
      
      <h4>Servicio de mesas</h4>
      <p>Visita nuestras sucursales, donde podrás disfrutar de la mejor comida china dentro un ambiente familia</p>

      <button> Mas Informacion</button>

    </div>
  
    <div class="tarjeta">
      <img class="serviciosImagen express" src="../assets/img/2.webp" alt="">
      <h4>Domocilio & Express</h4>
      <p>Ordena y te lo llevamos hasta la puerta de tu casa u oficina sin recargo.</p>

      <button> Mas Informacion</button>

    </div>
  
    <div class="tarjeta" >
      <img class="serviciosImagen evento" src="../assets/img/3.webp" alt="">
      <h4>Eventos</h4>
      <p>Atendemos todo tipo de evento social o corporativo dentro y fuera de nuestra instalaciones.</p>

      <button> Mas Informacion</button>

    </div>
  
  </div>

</div>

<app-info></app-info>
