<main>

    <div class="listaCurso" *ngFor="let listaCursos of entregas">
        
        <div class="descripcion">
                
            <div class="cajaCurso nombreCurso">
                    <h5>Tarea:</h5>
                    {{listaCursos.tarea}}
                </div>
                
                <div class="cajaCurso estudiente">
                    <h5>Carnet del Estudiante:</h5>
                    {{listaCursos.creadoPor}}    
                </div>
            </div>
            <div class="cajaCurso descripcionCurso">
                <h5>Entrega</h5>
                    {{listaCursos.descripcion}}
                    
            </div>
        
            <button [routerLink]="['/calificacion',listaCursos.tarea]">Calificar</button>
        </div>



</main>