<div class="cuerpo">

    <img src="https://image.shutterstock.com/image-photo/many-hands-holding-colorful-spanish-260nw-166441478.jpg">

    <div class="text">
        <h1>Escuela para tomar agua de coco todos los dias</h1>
    </div>

    <div class="cuadroDeInformacion">
        <div class="cuadros anuncios" >

            <div class="anuncio" *ngFor="let listaCursos of anuncios">
                
                            <h3> Anucios </h3>
                            <h4>{{listaCursos.titulo}}</h4>
                            <p> {{listaCursos.descripcion}} </p>
                            
            </div>
        </div>
        <div class="cuadros calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FGuatemala&showTz=0&showCalendars=0&showTabs=0&showPrint=0&showDate=0&showTitle=0&showNav=0&src=Y19ldXZodTl0ajhlMGszaDI2ODMxZXFtMWhrNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E" style="border-width:0" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="cuadros redesSociales">
            <img src="../../../assets/img/1w.png" >
            <img src="../../../assets/img/3f.png" >
            <img src="../../../assets/img/1i.png" >
            

        </div>
    </div>

</div>