<main>

    <div class="Contenedor">
        
        <div class="caja">
            <h2>Sobre Nosotros</h2>
            <h3>Fundación</h3>
            <p>Nacimos en Quezaltenango en el año 1996, y gracias a nuestra
                calidad en servicio y comida, hemos logrado obtener el reconocimiento de 
                nuestros clientes. Hoy contamos con mas de 25 años de 
                experiencia brindando la mejor comida china. 
            </p>
    
        </div>
    
        <div class="caja">
            <h2>Especialidad - Comida</h2>
            <p>La cocina cantonesa es original de la provincia de cantón, al sur de china, 
                y suele  caracterizarse por su variedad, innovación de sabores y la frescura de 
                sus elementos. Se presta mucha atención al sabor, color, fragancia y presentación del platillo. 
                Este estilo culinario requiere gran destreza para alcanzar ese sabor fresco, ligero y tierno que 
                se busca llevar a la mesa de cada comensal. 
            </p>
            <button>Menu Completo</button>
        </div>
        <div class="caja">
            <h2>Sucursales</h2>
            <p>Contamos con 6 restaurantes  donde podrás disfrutar de la mejor comida china y el 
                mejor ambiente familiar. Encuéntranos en Quetzaltenango, Mazatenango, 
                Retalhuleu y  Coatepeque.  
            </p>
            <button>Ubicaciones</button>
        </div>
    </div>

    <img src="../../../assets/img/19.jpg" alt="">

</main>
<div class="espaciador">s</div>




