main{
    display: flex;
    flex-wrap:nowrap;
    margin-top: 50px;
    background: black;
    color: white;
    padding: 0px;
}

.caja{
    display: flex;    
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;

}

img{
    width: 55%;
}

h2{
    font-size: xx-large;
    margin: 10px;
    
}
h3{
    margin-bottom: 10px;
    font-size: x-large;
}

p{
    font-size: 20px;
    
}

button{
    width: 45%;
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px;
    border: none;
    font-size: larger;
    border-radius: 21px;
    background: rgb(241, 43, 43);
    font-weight: bolder;

}

.espaciador{
    height: 100px;
    background: black;
}

