<main>
    <div class="contenedor">
        <form action="">
            <div class="caja">
                <h1>Ingresar</h1>
            </div>

            <div class="caja">
                <input type="text" autocomplete="off" placeholder="Usario" name="usario" id="">
            </div>

            <div class="caja">
                <input type="password" placeholder="Contrasenia" name="password" id="">
            </div >

            <div class="caja botones">
                <button>Ingresar</button>
                <button>Ingresar con Google</button>
            </div>
        </form>
    </div>
</main>