

    <div class="agregarCurso">
        <button (click)="agregaCurso()">Agregar Curso</button>
    </div>

    
    
    

    <main>
    <div class="listaCurso" *ngFor="let listaCursos of curso">
        <div class="cajaCurso nombreCurso">
            {{listaCursos.nombre}}
        </div>

            <div class="descripcion">
            
                    <div class="cajaCurso descripcionCurso">
                        <h5>Seccion:</h5>
                        {{listaCursos.seccion}}    
                    </div>
            
                    <div class="cajaCurso descripcionCurso">
                        <h5>Materia:</h5>
                        {{listaCursos.materia}}
                    </div>
            
                    <div class="cajaCurso descripcionCurso">
                        <h5>Aula:</h5>
                        {{listaCursos.aula}}
                    </div>
            </div>
        <button class="agregaTarea"  [routerLink]="['/nuevaTarea',listaCursos.id]" [queryParams]="{accion:'1'}">AgregarTarea</button>
        <button class="agregaTarea"  (click)="curso()" >Ver Entregas</button>
    </div>


    

</main>
