<header>

  <nav>
    <ul>
      <div class="opcionesDeMenu">
        <li> <a href="/home">Inicio</a> </li>
        <li> <a href="/cursos">Cursos</a> </li>
        <li> <a href="/notas">Calificaciones</a> </li>
        
      </div>
      <div class="opcionesDeMenu">
        <li> <a href="">Ayuda</a></li>
        <li> <a href="">Salir</a> </li>
      </div>
    </ul>
  </nav>

</header>

<main>
  <div class="cabeza" *ngIf="userLogget|async as user">
    <div class="titulo">
      {{'Mr'+' '+ user.displayName}} <!--Texto dinamico-->
    </div>
    <div class="img">
      <div class="cuadrado" >
        <img src="{{user.photoURL}}" alt="">
        
      </div>
    </div>
  </div>

  <div class="cuerpo">

    <router-outlet></router-outlet>

  </div>

</main>




